.container {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a a"
    "b b"
    "c c"
    "d d"
    "e e"
    "f f"; 
}

.header {
  color: #E5E7EB;
  font-size: 18px;
  grid-area: a;
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
}
.links {
  display: flex;
  justify-content: space-between;

}
.link {
margin: 15px;
} 
