body {
  font-family: "Roboto";
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a a"
    "b b"
    "c c"
    "d d"
    "e e"
    "f f"; 
}

.header {
  color: #E5E7EB;
  font-size: 24px;
  grid-area: a;
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
}
.links {
  display: flex;
  justify-content: space-between;

}
.link {
margin: 15px;
} 

.introphoto {
  grid-area: b;
  background-color: #1F2937;
}
.header1 {
  font-size: 48px;
  font-style: extra-bold;
  color: #F9FAF8;
}
.header2 {
  font-size: 18px;
  color: #F9FAF8;
}