body {
  font-family: "Roboto";
}

.container {
  display: grid; 
  
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: min-content 1fr 1fr 1fr 1fr min-content; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a a"
    "b b"
    "c c"
    "d d"
    "e e"
    "f f"; 
}

.header {
  grid-area: a;
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 150px 0px 150px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.link {
margin-left: 2em;
} 

.linker, .linker:visited {
  color: #e5e7eb;
  font-size: 1.2vw;
  text-decoration: none;
}

.introphoto {
  grid-area: b;
  background-color: #1F2937;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  justify-content: space-around;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 5%;
}

.logo {
  font-size: 2vw;
  color: #F9FAF8;
}

.header1 {
  font-size: 3vw;
  font-weight: 800;
  color: #F9FAF8;
}

.header2 {
  font-size: 1.2vw;
  color: #e5e7eb;
}

.intro {
 width: 50%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
}

.photo {
 display: flex;
 width: 60%;
 justify-content: flex-end;
}

.resize {
  height: auto;
  width: 75%;
  border-radius: 15%;
}

.buynow {
  background-color: #3882f6;
  color: #F9FAF8;
  width:max-content;
  font-size: 1.5vw;
  text-decoration: none;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.examples {
  color: #1F2937;
  font-size: 1.2vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 170px;
  padding-right: 170px;
  padding-bottom: 5%;
}

.header3 {
  color: #1F2937;
  font-weight: 800;
  font-size: 2vw;
  text-align: center;
}
.example1, .example2, .example3, .example4 {
  height: 10vw;
  width: 10vw;
  padding-bottom: 8%;
  font-weight: 500;
  }

.img1, .img2, .img3, .img4 {
width: 100%;
height: 100%;
border-radius: 20%;
border: 5px solid #3882f6;
}

.quote {
  background-color: #e5e7eb;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 2vw;
  padding: 8% 150px 5% 150px;
  font-style: italic;
  color: #1F2937;
  justify-content: flex-end;
}

.who {
  font-style: normal;
  font-weight: 500;
}
  
.action {
  display: flex;
  background-color: #3882f6;
  margin: 10%;
  padding: 3% 5% 3% 5%;
  border-radius: 10px;
  color: #F9FAF8;
  justify-content: space-between;
  align-items: center;
}

.signup {
 
}
.signuplink {
  text-decoration: none;
  font-size: 2vw;
  color: #F9FAF8;
  padding: 5px;
 border: 2px solid #F9FAF8;
 border-radius: 5px;
}