body {
  font-family: "Roboto";
}

.container {
  display: grid; 
  
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: min-content 1fr 1fr 1fr 1fr min-content; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a a"
    "b b"
    "c c"
    "d d"
    "e e"
    "f f"; 
}

.header {
  grid-area: a;
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 150px 0px 150px;
}
.links {
  display: flex;
  justify-content: space-between;

}
.link {
margin-left: 7em;
} 
.linker, .linker:visited {
  color: #E5E7EB;
  font-size: 1vw;
  text-decoration: none;
}
.introphoto {
  grid-area: b;
  background-color: #1F2937;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  justify-content: space-around;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  
}
.logo {
  font-size: 2vw;
  color: #F9FAF8;
}
.header1 {
  font-size: 3vw;
  font-weight: 900;
  color: #F9FAF8;
}
.header2 {
  font-size: 1vw;
  color: #F9FAF8;
}
.intro {
 width: 50%;
}
.photo {
 display: flex;
 width: 50%;
 justify-content: flex-end;
}

.resize {
  height: auto;
  width: 75%;
  border-radius: 15%;
}
.buynow {
  background-color: #3882f6;
  color: #F9FAF8;
  width:max-content;
  font-size: 1.5vw;
  text-decoration: none;
  border-radius: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}